.app {
  height: 100vh;
  /* box-sizing: border-box; */
  background: transparent linear-gradient(139deg, #fbfeff 0%, #5cc8e0 100%) 0%
    0% no-repeat padding-box;
}
.appContainer {
  margin-top: 60px;
  text-align: center;
  background: transparent;
  margin: 0 auto;
  width: 50%;
  align-content: center;
}
.formField {
  display:block;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.formLabel {
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  display: block;
  margin-bottom: 10px;
}
.submitButton {
  display: block;
  /* float: right; */
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 0 30px;
  color: #fbfeff;
  background: black;
}
.form{
  width:100%
}
.label {
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  margin-bottom: 10px;
}
.otherContent{
  width: 100%;
  display: block;
  margin-top:30px;
  align-content: left;
}
.text{
  box-sizing: border-box;
  height: 100px;
  text-align: left;
  font-weight: 400;
  padding: 15px;
  overflow-y: auto;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  background: #ffffff;
  margin-bottom: 20px;
}
.bodyLabel{
  display: block;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  margin-bottom: 10px;
}